<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wamiikechukwukanu.quizapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Intro_Screen.IntroActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".contactUs"
            android:label="About"
            android:launchMode="singleTask" />
        <activity
            android:name=".overView"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".score"
            android:label="Your Score"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="Africa Quiz"
            android:launchMode="singleTask"
            android:parentActivityName=".introStartQuiz"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wamiikechukwukanu.quizapp.overView" />
        </activity>
        <activity
            android:name=".introStartQuiz"
            android:label=""
            android:launchMode="singleTask"
            android:parentActivityName=".overView"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wamiikechukwukanu.quizapp.overView" />
        </activity>
        <activity
            android:name=".didYouKnow"
            android:label="Did You Know"
            android:launchMode="singleTask"
            android:parentActivityName=".overView">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wamiikechukwukanu.quizapp.overView" />
        </activity>
        <activity
            android:name=".cardViewOne"
            android:label=""
            android:launchMode="singleTask" />
        <activity
            android:name=".cardViewZero"
            android:label=""
            android:launchMode="singleTask" />
        <activity
            android:name=".cardViewTwo"
            android:label=""
            android:launchMode="singleTask" />
        <activity
            android:name=".cardViewThree"
            android:label=""
            android:launchMode="singleTask" />
        <activity
            android:name=".cardViewFour"
            android:label=""
            android:launchMode="singleTask" />
        <activity
            android:name=".africaNews"
            android:label="Africa News"
            android:launchMode="singleTask" />
        <activity
            android:name=".cardViewFive"
            android:label=""
            android:launchMode="singleTask" />
        <activity
            android:name=".cardViewSix"
            android:label=""
            android:launchMode="singleTask" />
        <activity
            android:name=".cardViewSeven"
            android:label=""
            android:launchMode="singleTask" />
        <activity
            android:name=".cardViewEight"
            android:label=""
            android:launchMode="singleTask" />
        <activity
            android:name=".cardViewNine"
            android:label=""
            android:launchMode="singleTask" />
        <activity
            android:name=".cardViewTen"
            android:label=""
            android:launchMode="singleTask" />
        <activity
            android:name=".cardViewEleven"
            android:label=""
            android:launchMode="singleTask" />
        <activity
            android:name=".misconAfrica"
            android:label="Misconceptions of Africa"
            android:launchMode="singleTask" />
        <activity
            android:name=".Miscon_1"
            android:label=""
            android:launchMode="singleTask" />
        <activity
            android:name=".Miscon_2"
            android:label="@string/title_activity_miscon_2"
            android:launchMode="singleTask" />
        <activity
            android:name=".Miscon_3"
            android:launchMode="singleTask" />
        <activity
            android:name=".Miscon_4"
            android:launchMode="singleTask" />
        <activity
            android:name=".Miscon_5"
            android:launchMode="singleTask" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9646388292265496~7436300103" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>