<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quizapp.quizapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".splashScreen"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".overView"
            android:launchMode="singleTop" />
        <activity
            android:name=".AnswerActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".introStartQuiz"
            android:label="Africa Quiz"
            android:launchMode="singleTask"
            android:parentActivityName=".overView">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quizapp.quizapp.overView" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Settings" />
        <activity
            android:name=".didYouKnow"
            android:label="Did You Know"
            android:parentActivityName=".overView">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quizapp.quizapp.overView" />
        </activity>
        <activity android:name=".cardViewOne" />
        <activity android:name=".cardViewZero" />
        <activity android:name=".cardViewTwo" />
        <activity android:name=".cardViewThree" />
        <activity android:name=".cardViewFour" />
        <activity
            android:name=".africaNews"
            android:label="Africa News">

        </activity>
    </application>

</manifest>